.card {
  max-width: 300px;
  text-align: center;
  font-family: arial;
  flex: 1 0 500px;
  box-sizing: border-box;
  margin: 1rem 0.25em;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.price {
  color: grey;
  font-size: 22px;
}

.currency {
  flex: 1 0 500px;
  box-sizing: border-box;
  margin: 1rem 0.25em;
}
